/* iteration - forwards - зафиксировать, inline - повторюватися normal - нормальний, reverse - назад, */
/* animation: [animation-name] [time] [time-function] [iteration]; */

@keyframes loading-up {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loading-bottom {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}