* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    background: var(--standart-background);
}

.container {
    width: 100%;
    max-width: calc(1110px + 40px);
    margin: 0 auto;
    padding: 0 20px;
}

header {
    z-index: 1;
    box-shadow: 0 1px var(--header-border);
}

header .container {
    height: 72px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
}

.logo {
    display: flex;
}

.logo:focus-visible {
    outline: 1px solid var(--color-gray-900);
}

.logo img {
    height: 28px;
    width: 130px;
    flex-shrink: 0;
}

.header__links,
.header__links li {
    display: flex;
}

.header__links li a {
    font-size: 14px;
    font-weight: 700;
    margin-left: 32px;
    color: var(--color-gray-900);
}

.header__links li a:hover,
.header__links li a:active,
.header__links li a:focus-visible {
    text-decoration: underline;
}

.header__links-app,
.header__links-app li,
.header__links-app li a {
    display: flex;
}

.header__links-app {
    gap: 12px;
    padding-left: 32px;
    margin-left: auto;
}

.header__links-app li a {
    overflow: hidden;
    transition: opacity .05s linear;
}

.header__links-app li a:hover {
    opacity: .9;
}

.header__links-app li a:active,
.header__links-app li a:focus-visible {
    opacity: .8;
}

.header__links-app li a img {
    height: 40px;
    width: 135px;
    flex-shrink: 0;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
}

main .container {
    gap: 20px;
    opacity: 0;
    padding: 40px;
    display: flex;
    overflow-y: auto;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-20px);
    animation: loading-up .9s linear forwards;
}

.main__left-section {
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
}

.main__left-section h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
    margin-bottom: 15px;
    color: var(--color-gray-900);
}

.main__left-section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
    color: var(--color-gray-900);
}

.main__left-section .button {
    width: max-content;
    font-size: 20px;
    font-weight: 700;
    opacity: 0;
    padding: 16px 35px;
    border-radius: 8px;
    visibility: hidden;
    transform: translateY(20px);
    color: var(--standart-color);
    background: var(--main-button);
    transition: background .07s linear;
    animation: loading-bottom .9s linear 1s forwards;
}

.main__left-section .button:hover,
.main__left-section .button:focus-visible {
    background: var(--main-button-hover);
}

.main__left-section .button:active {
    background: var(--main-button-active);
}

.main__right-section {
    max-height: 400px;
    max-width: 524px;
    min-width: 300px;
}

.main__right-section img {
    height: 100%;
    width: 100%;
}

footer {
    z-index: 1;
    background: var(--footer);
}

footer .container {
    height: 72px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
}

footer .copyright {
    min-width: 152px;
    font-size: 14px;
    font-weight: 400;
    margin-right: auto;
    color: var(--color-gray-300);
}

footer .copyright:hover,
footer .copyright:active,
footer .copyright:focus-visible {
    text-decoration: underline;
}

.footer__links,
.footer__links li,
.footer__links li a {
    display: flex;
}

.footer__links {
    gap: 16px;
    padding-left: 16px;
}

.footer__links li a {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: var(--footer-link);
    transition: background .07s linear;
}

.footer__links li a:hover,
.footer__links li a:focus-visible {
    background: var(--footer-link-hover);
}

.footer__links li a:active {
    background: var(--footer-link-active);
}

.footer__links li a:focus-visible {
    outline: 1px solid var(--standart-color);
}

.footer__links li a img {
    height: 18px;
    width: 18px;
}